$text-color-light: #ffffff;
$card-bg: #EDF2FD;
$border-color: #B3B3B3;
$other-bg: #EFEFEF;
$other2-color: #939393;
$accent-color: #b4b7f8;
$link-color: #5B78B9;
$click-color: #6066F3;
$bg-color-gradient: linear-gradient(180deg, #2931EB 0%, #151CC3 100%);
$bg-btn: #2931EB;
$dark-color: #231F1F;
$black-color: #000000;


